* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* Banner Section Started*/
.banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
}

.banner-image-size {
    width: 635px;
}

.btn {
    margin-top: 32px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/* Banner Section End*/


/* Feature Section Start*/
.feature-container {
    text-align: center;
    margin-top: 178px;

}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 220px;
}

.box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin-right: 24px;

}

.flower-box1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower-box2 {
    background: rgba(5, 151, 160, 0.15);
    ;
}

.flower-box3 {
    background: rgba(71, 125, 17, 0.15);
}

.item {
    width: 280px;
    height: 398px;
    margin-top: 140px;
    margin-left: 50px;
}

.text-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    color: #272727;
    text-align: center;
    text-decoration: underline;
}

.title1 {
    margin-left: 185px;
}

.title2 {
    margin-right: 7px;
}

.title3 {
    margin-right: 250px;
}

/* feature Section End*/


/* hot deal Section End*/
.hot-deal-container {
    margin-top: 128px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;

}

.hot-deal-info {

    margin-left: 200px;
    text-align: center;
}

.hot-deal-image {
    margin-right: 200px;
}

.hot-deal-image-size {
    width: 318px;
}

.special-text {
    color: #E55473;
}

.hot-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.hot-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* hot deal Section End*/

/* Social Section Start*/
.social-container {
    text-align: center;
    margin-top: 128px;

}

.photo-list {
    margin: 50px 100px;
    display: flex;
    justify-content: space-around;
}

/* Social Section End*/


/* Deals Section start*/

.deals-container {
    background-image: url(./images/Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 128px;
    padding: 200px;
    border-radius: 5px;
    text-align: center;
}

.deals-title {
    color: #272727;
    margin-top: 80px;
    font-size: 40px;
    font-weight: 800;
}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.search {
    padding: 13px 120px;
    border: none;
    border-radius: 3px;
}

.btn2 {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
}

/* deals Section End*/